{#=====================================================
Things list page
- List of things passed in as 'things' array
- Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Flask Demo - All Things

{% endblock %}

{% block content %}

<h1 id="h1">Campaigns</h1>




<ul class="campaign_list">
    {% for campaign in campaigns %}
    <li class="campaign_details">
        <div class="campaign_link">
            <a href="/campaign/{{ campaign.id }}" class="campaign_view">
                {{ campaign.name }}
            </a>
            <a href="/campaign/{{ campaign.id }}">View</a>
            <div class="campaign_buttons">
                <a href="/show_edit/{{ campaign.id }}">Edit</a>
                <a href="/delete/{{ campaign.id }}">Delete</a>
            </div>
        </div>
    </li>
    {% else %}
    <p>There are no current campaigns</p>
    {% endfor %}
</ul>


<details id="add_campaign">
    <summary role="button">Add a new campaign</summary>
        <form action="/add" method="POST">

            <input type="text" name="name" placeholder="Name of new campaign" required>

            <input type="text" name="dm_name" placeholder="Dungeon master name" required>
            
            <input type="number" name="max_players" placeholder="Max amount of players" required min="1">

            <input type="number" name="current_players" placeholder="Current amount of players" required min="0">

            <input type="text" name="description" placeholder="Description">

            <input type="email" name="dm_email" placeholder="Dungeon master email" required>

            <input type="tel" name="dm_phone" placeholder="Dungeon master phone number">

            <input type="text" name="dm_discord" placeholder="Dungeon master discord">

            <input type="number" name="current_level" placeholder="current party level"
            
            <input type="text" name="docs_link" placeholder="current documents e.g. name|link">


            <button>Submit</button>

        </form>
</details>

    {% endblock %}