{#=====================================================
Confirm delete Of Dungeon Master
- Ask the user if they are sure they want to delete the selected Dungeon Master
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

WaiCol D&D - Confirm Delete campaign

{% endblock %}

{% block content %}
<div id="confirm_title">
    <h2>Are you sure you want to delete this campaign?</h2>
</div>

<div id="confirm_form">
    <form method="POST" action="/delete/{{ id }}">
        <button type="submit" id="button_width">Yes, delete</button>
        <a role="button" href="/admin_home">Cancel</a>
    </form>
</div>



{% endblock %}