{#=====================================================
Admin login
- lets admin login using a form
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

WaiCol D&D - Admin Login

{% endblock %}


{% block content %}



<h1 id="h1">Admin login</h1>




<form action="/login" method="POST">

    <input type="text" name="username" placeholder="Admin username" required>

    <input type="password" name="password" placeholder="Password" required>

    <button>Login</button>
    <a role="button" href="/">Cancel</a>

</form>

<h6>Login info for testing and moderation</h6>
<h6>Username: DungeonMaster</h6>
<h6>Password: Natural20</h6>


{% endblock %}