{#=====================================================
Confirm delete Of Dungeon Master
- Ask the user if they are sure they want to delete the selected Dungeon Master
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

WaiCol D&D - Confirm logout

{% endblock %}

{% block content %}
<div id="confirm_title">
    <h2>Are you sure you want to logout?</h2>
</div>
<div id="confirm_form">
    <form method="POST" action="/logout">
        <button id="button_width" type="submit">Yes, logout</button>
        <a role="button" href="/admin_home">Cancel</a>
    </form>
</div>


{% endblock %}