{#=====================================================
Campaign page
- Shows details of a single thing
- Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Dnd listings - {{ dm.dm_name }}

{% endblock %}


{% block content %}

<h1 id="details_title">{{ dm.dm_name }}</h1>


<article id="campaign_specifics">
    <h3>DM details</h3>
    <p><strong>DM:</strong> {{ dm.dm_name }}</p>
    <p><strong>Email:</strong> {{ dm.dm_email }}</p>
    <p><strong>Phone:</strong> {{ dm.dm_phone }}</p>
    <p><strong>Discord:</strong> {{ dm.dm_discord }}</p>
    <p><strong>Campaigns:</strong>
    <ul class="dm_campaigns_list">
        {% for campaign in campaigns %}
        <li>{{ campaign.name }}</li>
        {% else %}
        <li>No campaigns assigned</li>
        {% endfor %}
    </ul>
    
</article>

<div id="back_button_container">
    <a id="button_width" href="/admin_dms" role="button">Back to DM list</a>
</div>



{% endblock %}