{#=====================================================
Things list page
- List of things passed in as 'things' array
- Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Flask Demo - All Things

{% endblock %}

{% block content %}
<div id="confirm_title">
    <h2>Are you sure you want to delete this Dungeon Master?</h2>
</div>
<div id="confirm_form">
    <form method="POST" action="/delete_dm/{{ id }}">
        <button id="button_width" type="submit">Yes, delete</button>
        <a role="button" href="/admin_dms">Cancel</a>
    </form>
</div>



{% endblock %}