{#=====================================================
Admin home page
- List all campaigns
- let admins edit and delete campaigns
- Form for adding a new campaign
=====================================================#}


{% extends 'pages/base.jinja' %}

{% block title %}
WaiCol D&D - Admin home
{% endblock %}

{% block content %}

<h1 id="h1">Campaigns</h1>

<ul>
    {% for campaign in campaigns %}
    <li class="details" role="button">
        <a href="/campaign/{{ campaign.id }}" class="link">
            <div class="name">{{ campaign.name }}</div>
            <div class="view">Click to view |</div>
        </a>
        <div class="edit-delete">
            <a href="/show_edit/{{ campaign.id }}">Edit</a> 
            <p>|</p>
            <a href="/admin_confirm_delete_campaign/{{ campaign.id }}">Delete</a>
        </div>
    </li>
    {% else %}
    <p>There are no current campaigns</p>
    {% endfor %}
</ul>

<details id="add_campaign">
    <summary role="button">Add a new campaign</summary>
    <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Name of new campaign" required>
        <p>DM name:</p>
        <select name="dm_id" required>
            <option value="" disabled selected>Select a DM...</option>
            {% for dm in dms %}
            <option value="{{ dm.dm_id}}">{{ dm.dm_name }}</option>
            {% else %}
            <option value="None" disabled selected>No DMs defined! Add some first</option>
            {% endfor %}
        </select>
        <input type="number" name="max_players" placeholder="Max players" required min="1">
        <input type="number" name="current_players" placeholder="Current players" required min="0">
        <input type="text" name="description" placeholder="Description">
        <input type="number" name="current_level" placeholder="Current party level">
        <p>Current documents:</p>
        <input type="text" name="docs_link1" placeholder="Link to document here">
        <input type="text" name="docs_link2" placeholder="Link to document here">
        <input type="text" name="docs_link3" placeholder="Link to document here">
        <input type="text" name="docs_link4" placeholder="Link to document here">
        <input type="text" name="docs_link5" placeholder="Link to document here">

        <button>Submit</button>
    </form>
</details>



{% endblock %}