{#=====================================================
Things list page
- List of things passed in as 'things' array
- Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Flask Demo - All Things

{% endblock %}

{% block content %}

<h2>Are you sure you want to delete this Dungeon Master?</h2>
<form method="POST" action="/delete_dm/{{ dm.dm_id }}">
    <button type="submit">Yes, delete</button>
    <a type="button" href="/admin_dms">Cancel</a>
</form>



{% endblock %}