{#=====================================================
Dungeon Master admin edit
- edit Dungeon Master information as an admin
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

WaiCol D&D - Edit {{ dm.dm_name }}

{% endblock %}

{% block content %}


<h1>Edit Campaign</h1>
<form method="POST" action="/edit_dm/{{ dm.dm_id }}">
  <label>DM Name</label>
  <input type="text" name="dm_name" value="{{ dm.dm_name }}" required>

  <label>DM email</label>
  <input type="text" name="dm_email" value="{{ dm.dm_email }}" required>

  <label>DM phone</label>
  <input type="number" name="dm_phone" value="{{ dm.dm_phone }}" required>

  <label>DM discord</label>
  <input type="text" name="dm_discord" value="{{ dm.dm_discord }}">

  <button type="submit" id="button_width">Save Changes</button>
  <a href="/admin_dms" role="button">Cancel</a>
</form>


{% endblock %}