{#=====================================================
Base template
- Used as the basis of all pages
- Uses a light colour theme by default
- Provides a main heading and navigation menu
- Has blocks for the page title and main content
- Loads PicoCSS and Pico Colours
- Loads a user stylesheet
- Loads JS utility functions
- Includes block for flash messages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/images/icon.svg">

    <title>{% block title %}{% endblock %}</title>

    <script src="/static/js/utils.js"></script>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.red.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <script src="/static/js/Scripts.js"></script>

</head>

<body>

    <header id="header">
        <nav>
            <ul>
                <li><a href="/"><img id="logo" src="\static\images\dnd_logo.png"></a></li>
                <h1 id="nav_title">WaiCol D&D</h1>

            </ul>
            

            <ul>
                {% if session["logged_in"] %}
                <li><a href="/admin_home" role="button">Admin view</a></li>
                <li><a href="/admin_dms" role="button">DMs</a></li>
                <li><a href="/" role="button">User view</a></li>
                {% endif %}
                
                {% if session["logged_in"] %}
                <li><a href="/confirm_logout" role="button">Logout</a></li>
                {% else %}
                <li><a href="/admin_login" role="button">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>


    {# Show flash messages from any previous events #}
    {% include "components/messages.jinja" %}


    <main id="main">

        {% block content %}
        {% endblock %}

    </main>


    {# Show debug info. Comment this out if not needed #}
    {% include "components/debug.jinja" %}

</body>

</html>

