{#=====================================================
Things list page
- List of things passed in as 'things' array
- Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Flask Demo - All Things

{% endblock %}

{% block content %}

<h1>Edit Campaign</h1>
<form method="POST" action="/edit/{{ campaign.id }}">
  <label>Name</label>
  <input type="text" name="name" value="{{ campaign.name }}" required>

  <label>DM Name</label>
  <input type="text" name="dm_name" value="{{ campaign.dm_name }}" required>

  <label>Max Players</label>
  <input type="number" name="max_players" value="{{ campaign.max_players }}" required>

  <label>Current Players</label>
  <input type="number" name="current_players" value="{{ campaign.current_players }}" required>

  <label>Description</label>
  <input type="text" name="description" value="{{ campaign.description }}" required>

  <label>Email</label>
  <input type="email" name="dm_email" value="{{ campaign.dm_email }}">

  <label>Phone</label>
  <input type="text" name="dm_phone" value="{{ campaign.dm_phone }}">

  <label>Discord</label>
  <input type="text" name="dm_discord" value="{{ campaign.dm_discord }}">

  <label>Current level:</label>
  <input type="number" name="current_level" value="{{ campaign.current_level }}">

  <label>current documents *e.g. middle earth | https://docs.google.com/document/middleearth*</label>
  <input type="text" name="docs_link1" value="{{ campaign.docs_link1 }}">
  <input type="text" name="docs_link2" value="{{ campaign.docs_link2 }}">
  <input type="text" name="docs_link3" value="{{ campaign.docs_link3 }}">
  <input type="text" name="docs_link4" value="{{ campaign.docs_link4 }}">
  <input type="text" name="docs_link5" value="{{ campaign.docs_link5 }}">



  <button type="submit">Save Changes</button>
</form>


{% endblock %}