{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    DnD Listings

{% endblock %}


{% block content %}

    <h1 id="h1">DnD campaign listings</h1>

    <h1 id="h1">Campaigns</h1>


    <article>

        <ul>
            {% for campaign in campaigns %}

                <li>
                    <a href="/campaign/{{ campaign.id }}">
                        {{ campaign.name }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

{% endblock %}

