{#=====================================================
Home page
- Hero style greeting banner
- List of things passed in as 'things' array
- Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

DnD Listings

{% endblock %}

{% block admin_login %}
Admin login
{% endblock %}

{% block content %}



<h1 id="h1">Campaigns</h1>


<article>

    <ul>
        {% for campaign in campaigns %}

        <li class="campaign_details" id="campaign_name">
            <a href="/campaign/{{ campaign.id }}" class="campaign_link">
                <div class="campaign_main">
                    {{ campaign.name }} {{ campaign.current_players }}/{{ campaign.max_players }}
                </div>
                <div class="campaign_view">View campaign</div>
            </a>
        </li>

        {% else %}

        <p>There are no current campaigns</p>

        {% endfor %}
    </ul>

</article>

{% endblock %}