/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { 
    color: var(--pico-color-green-500); 
    background-color: #3d3d3d; 
    padding: 10px;
    border-radius: 10px;
}


#messages .message.error   { 
    color: var(--pico-color-red-500); 
    background-color: #3d3d3d;
    padding: 10px;
    border-radius: 10px;
}

/* MAIN COMPONENTS -------------------------------------------- */
#logo{
    height: 6vh;
    width: 6vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #d9d9d9;
    width: 100vw; 
    margin-left: calc(-50vw + 50%);  
}

#header{
    padding:0;
}

#main{
    background-color: #3d3d3d;
    margin-top: 1rem;
    max-width: 95%;
}

html{
    background-color: #7C7C7C;
}

#h1,p,a{
    color:#E6E6E6;
}

a{
    text-decoration: none;
}

/* CAMPAIGN LISTINGS ON HOME AND ADMIN VIEW -------------------------------------------- */
.campaign_details {
    display: flex;
    background-color: #7c7c7c;
    padding: 0.6rem;
    border-radius: 0.5rem;
    font-size: 20px;
    border-color: black;
    
}

#campaign_name {
    background-color: #7c7c7c;
    border-color: black;
}

.campaign_details:hover {
    background-color: #5c5c5c;
}

.campaign_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    color:white;
}

.campaign_view {
    white-space: nowrap;
    font-weight: bold;
}
  

ul{
    list-style-type: none;
    padding: 0;
    margin:1rem;
}

/* ADD CAMPAIGN -------------------------------------------- */

#add_campaign {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
}